.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000;
}
.cabecalho img{
    margin-left: 5%;
    width: 10%;
    max-width: 10%;
    display: block;
}

.cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 50%;
    flex-wrap: wrap;
}

.cabecalho a{
    text-decoration: none;
    font-size: 5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #0b0ee0;
    text-align: center;
    padding: 20% 0;
}

.cabecalho a:hover{
   background-color: #0b0ee0;
   color: #ffffff; 
}