.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;
    margin-left: 0%;
}

.conteudo img{
    max-width: 50%;
    display: block;
}

.conteudo > div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}