@import url("./cabecalho.css");
@import url("./conteudo.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 60%;
}

@media(max-width:630px){
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;
    }

    .cabecalho a{
        font-size: 2rem;
        padding: 10% 0;
         
    }

}