.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 9%;
}

.rodape img{
    width: 5%;
    max-width: 5%;
    display: inline-block;
}